html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
checkbox {
  margin: -3em 0 0 0;
}
form {
  width: 80vh;
  margin: 0 auto;
  color: rgb(6, 19, 159);
  padding: 1em 0;
  background-color: white;
  border-style: solid;
  border-color: blue;
  border-width: 1.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
